In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

pd.set_option('display.max_columns',100)

covid_df = pd.read_csv('covid_19_india.csv')

In [2]:
covid_df.head(10)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1.0,2020-01-30,6:00 PM,Kerala,1,0,0.0,0.0,1.0
1,2.0,2020-01-31,6:00 PM,Kerala,1,0,0.0,0.0,1.0
2,3.0,2020-02-01,6:00 PM,Kerala,2,0,0.0,0.0,2.0
3,4.0,2020-02-02,6:00 PM,Kerala,3,0,0.0,0.0,3.0
4,5.0,2020-02-03,6:00 PM,Kerala,3,0,0.0,0.0,3.0
5,6.0,2020-02-04,6:00 PM,Kerala,3,0,0.0,0.0,3.0
6,7.0,2020-02-05,6:00 PM,Kerala,3,0,0.0,0.0,3.0
7,8.0,2020-02-06,6:00 PM,Kerala,3,0,0.0,0.0,3.0
8,9.0,2020-02-07,6:00 PM,Kerala,3,0,0.0,0.0,3.0
9,10.0,2020-02-08,6:00 PM,Kerala,3,0,0.0,0.0,3.0

In [3]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15114 entries, 0 to 15113
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       15086 non-null  float64
 1   Date                      15086 non-null  object
 2   Time                      15086 non-null  object
 3   State/UnionTerritory      15086 non-null  object
 4   ConfirmedIndianNational   15086 non-null  object
 5   ConfirmedForeignNational  15086 non-null  object
 6   Cured                     15086 non-null  float64
 7   Deaths                    15086 non-null  float64
 8   Confirmed                 15086 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.0+ MB

In [4]:
covid_df.describe()

                Sno         Cured        Deaths     Confirmed
count  15086.000000  1.508600e+04  15086.000000  1.508600e+04
mean    7543.500000  1.747937e+05   2721.084449  1.942820e+05
std     4355.097416  3.648330e+05   7182.672358  4.095184e+05
min        1.000000  0.000000e+00      0.000000  0.000000e+00
25%     3772.250000  1.685000e+03     12.000000  2.935500e+03
50%     7543.500000  1.964700e+04    364.000000  2.608150e+04
75%    11314.750000  2.087552e+05   2170.000000  2.216012e+05
max    15086.000000  4.927480e+06  83777.000000  5.433506e+06

In [5]:
vaccine_df = pd.read_csv('covid_vaccine_statewise.csv')

In [6]:
vaccine_df.head(7)

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),Sputnik V (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
5,21/01/2021,India,365965.0,32226.0,12600.0,365965.0,0.0,NaN,NaN,NaN,5367.0,360598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132784.0,233143.0,38.0,365965.0
6,22/01/2021,India,549381.0,36988.0,14115.0,549381.0,0.0,NaN,NaN,NaN,8128.0,541253.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193899.0,355402.0,80.0,549381.0

In [7]:
covid_df.drop(columns=['Sno', 'Time', 'ConfirmedIndianNational', 'ConfirmedForeignNational'], inplace=True, axis=1)

In [8]:
covid_df.head()

         Date State/UnionTerritory  Cured  Deaths  Confirmed
0  2020-01-30               Kerala    0.0     0.0        1.0
1  2020-01-31               Kerala    0.0     0.0        1.0
2  2020-02-01               Kerala    0.0     0.0        2.0
3  2020-02-02               Kerala    0.0     0.0        3.0
4  2020-02-03               Kerala    0.0     0.0        3.0

In [9]:
covid_df['Date'] = pd.to_datetime(covid_df['Date'], format = '%Y-%m-%d')

In [10]:
covid_df.head()

        Date State/UnionTerritory  Cured  Deaths  Confirmed
0 2020-01-30               Kerala    0.0     0.0        1.0
1 2020-01-31               Kerala    0.0     0.0        1.0
2 2020-02-01               Kerala    0.0     0.0        2.0
3 2020-02-02               Kerala    0.0     0.0        3.0
4 2020-02-03               Kerala    0.0     0.0        3.0

In [24]:
# Active Cases
covid_df['Active Cases'] = covid_df['Confirmed'] - (covid_df['Cured'] + covid_df['Deaths'])

In [26]:
statewise = pd.pivot_table(covid_df, values = ['Confirmed', 'Deaths', 'Cured'],
                           index = 'State/UnionTerritory', aggfunc=max)

In [27]:
statewise['Recovery Rate'] = statewise['Cured']*100/statewise['Confirmed']

In [28]:
statewise['Mortality Rate'] = statewise['Deaths']*100/statewise['Confirmed']

In [30]:
statewise = statewise.sort_values(by = 'Confirmed', ascending=False)